<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{{ url_for('static', filename='webs_icon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jost|Roboto">
    {% block head %}
    {% endblock head %}

    {% if blog %}
        <title>WebScraper - {{ blog }}</title>
    {% else %}
        <title>WebScraper</title>
    {% endif %}
</head>
<body>
    <header class="nav-bar">
        <div class="nav-bar-content">
            <h3 class="nav-bar-home"><a href="{{ url_for('home') }}">home</a></h3>
            {% for blog in blogs %}
            <h3 class="blog-link">
                <a href="{{ url_for('page', page_num=1, blog=blog) }}">{{ blog }}</a>
            </h3>
            {% endfor %}
        </div>
    </header>
    <div class="page-content">
        {% block content %}
        {% endblock content %}
    </div>
</body>
