{% extends "base.html" %}

{% block head%}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='page.css') }}">
{% endblock head%}

{% block content %}
    <h1 class="blog-title">{{ blog }}</h1>
    <hr>
    {% for post in posts %}
    <article>
        <div>
            <h2><a href="{{ url_for('single_post', post_id=post.id, blog=blog) }}">{{ post.title }}</a></h2>
            <small>{{ post.date_of_publishing }}</small>
            <div class="post-preview">{{ post.content[0] }}</div>
            <div class="post-meta">
                <div>
                    <h4>Most used words:</h4>
                    <div class="most-used-words">
                        {% for word, occur in post.most_used_words.items() %}
                        <span class="highlight-box">{{ word }} - {{ occur }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div>
                    <a href="{{ url_for('single_post', post_id=post.id, blog=blog, _anchor='comment-section') }}">
                        {% if not post.comments %}
                        <h4>No comments</h4>
                        {% elif post.comments|length == 1 %}
                        <h4>{{ post.comments | length}} comment</h4>
                        {% else %}
                        <h4>{{ post.comments | length}} comments</h4>
                        {% endif %}
                    </a>
                </div>
            </div>
        </div>
    </article>
    <hr>
    {% endfor %}

    <div class="nav-links">
        {% if curr_page - 1 > 0 %}
        <span class="prev-page">
            <a href="{{ url_for('page', page_num=curr_page - 1, blog=blog) }}">Previous</a>
        </span>
        {% else %}
        <span class="prev-page"></span>
        {% endif %}
        
        {% for i in range(1, num_pages + 1) %}
        {% if i == curr_page %}
            <span class="curr-page page-num">
                <a href="{{ url_for('page', page_num=i, blog=blog) }}">{{ i }}</a>
            </span>
            {% else %}
            <span class="page-num">
                <a class="page-num" href="{{ url_for('page', page_num=i, blog=blog) }}">{{ i }}</a>
            </span>
            {% endif %}
        {% endfor %}
            
        {% if curr_page + 1 <= num_pages %}
        <span class="next-page">
            <a href="{{ url_for('page', page_num=curr_page + 1, blog=blog) }}">Next</a>
        </span>
        {% else %}
        <span class="next-page"></span>
        {% endif %}
    </div>

{% endblock content %}