.blog-title {
    text-align: center;
    text-transform: uppercase;
}

.post-preview {
    height: 2em;
    margin-top: 1em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.post-meta {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.most-used-words {
    margin-top: -1em;
    display: flex;
    gap: 1em;
}

.page-num {
    flex: 1 1 10%
}

.curr-page {
    color: var(--accent-warm-color);
}

.next-page, .prev-page {
    flex: 1 1 50%;
}

.next-page {
    text-align: right;
}